{% extends 'partials/base.html' %}

{% block heading %}
    <h1>Defining field boundaries</h1>
{% endblock %}

{% block text_section %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis arcu sapien. Mauris malesuada magna vitae accumsan hendrerit. 
       Curabitur mauris erat, blandit a velit at, ultrices accumsan libero. Donec dignissim erat vehicula eleifend dictum. 
       Donec sapien nisi, consequat ac blandit eget, interdum sit amet tellus. Pellentesque porta, mi quis pharetra.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
       Phasellus urna leo, dignissim ut accumsan in, feugiat eget ante. Sed nec lectus arcu. Morbi mattis lacus nisl, a ullamcorper urna suscipit.
    </p>
{% endblock %}

{% block calculator_section %}
    <form action="{% url 'detect_field_boundaries' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Upload image: <input type="file" name="field_image"></p>
        <input type="submit" class="btn btn-primary" value="Detect boundaries">
    </form>
{% endblock %}