{% extends 'partials/base.html' %}

{% block heading %}
    <h1>Defining field boundaries</h1>
{% endblock %}

{% block result %}
    <p>Detected fields boundaries:</p>
    <img src="{{ graphic }}" alt="Fields boundaries">
{% endblock %}