{% extends 'partials/base.html' %}

{% block heading %}
    {% if username %}
        <h1>Welcome back, {{ username }}!</h1>
    {% else %}
        <h1>Hello, Guest!</h1>
    {% endif %}
{% endblock %}