{% extends 'partials/base.html' %}

{% block heading %}
    <h1>NDMI calculator</h1>
{% endblock %}

{% block result %}
    <p>NDMI result:</p>
    <img src="{{ ndmi_graphic }}" alt="NDMI graphic">
{% endblock %}