{% extends 'partials/base.html' %}

{% block heading %}
    <h1>NDVI calculator</h1>
{% endblock %}

{% block result %}
    <p>NDVI result:</p>
    <img src="{{ ndvi_graphic }}" alt="NDVI result">
    <!-- <input type="submit" class="btn btn-primary" value="Calculate NDVI"> -->
{% endblock %}