{% extends 'partials/base.html' %}

{% block heading %}
    <h1>NDWI result</h1>
{% endblock %}

{% block result %}
    <p>NDWI result:</p>
    <img src="{{ ndwi_graphic }}" alt="NDWI Visualization">
{% endblock %}