{% extends 'partials/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="mb-0 gray_font" style = 'font-size: 14px;'>by {{ post.author.username }}<p></p>
        <p class=" card-text">{{ post.body }}</p>
        <p class="gray_font" style = 'font-size: 12px;'>{{ post.created_at }}</p>
        <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Edit post</a>
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete post</a>
        </div>
    </div>
{% endblock %}