{% extends 'partials/base.html' %}

{% block content %}
<div class="list-group">
    {% for post in posts %}
        <a href="{% url 'post_view' post.pk %}" class="list-group-item list-group-item-action">{{post.title}} by <b>{{ post.author }}</b></a>
    {% endfor %}
</div>
{% endblock %}