{% extends 'partials/base.html' %}

{% block content %}
    <h1>Write post</h1>

    <form action="{% url 'create_post' %}" method="POST">
        {% csrf_token %}

        <div class="w-50">
            {% for error in non_field_errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}

            {% for field in form %}
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            <input type="submit" class="btn btn-primary mt-3" value="Create post">  
    </form>
{% endblock %}
