<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    {% include 'partials/navigation.html' %}

    <div class="container pt-3">
        {% block heading %}
        {% endblock %}
    </div>
    
    <div class="container">
        {% block text_section %}
        {% endblock %}
    </div>

    <div class="container">
        {% block calculator_section %}
        {% endblock %}
    </div>

    <div class="container">
        {% block result %}
        {% endblock %}
    </div>

    <div class="container">
        {% block sign_up %}
        {% endblock %}
    </div>

    <div class="container pt-3">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>