<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">MyPROJECT</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ndvi_calculator' %}">NDVI calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ndwi_calculator' %}">NDWI calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'detect_field_boundaries' %}">Defining field boundaries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ndmi_calculator' %}">NDMI calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts_list' %}">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_post' %}">Write post</a>
          </li>         
          
          {% if not request.user.is_authenticated %}
            <li class="nav-item" style="margin-right: 10px;">
              <a class="btn btn-primary" href="{% url 'register' %}">Sign up</a>
            </li>
          {% endif %}

          {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="btn btn-success" href="{% url 'login' %}">Log in</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="btn btn-danger" href="{% url 'logout' %}">Log out</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>