{% extends 'partials/base.html' %}

{% block content %}
    <h1>Login page</h1>
    <form action="{% url 'login' %}" method="POST" class="">
        {% csrf_token %}
        {% if has_error %}
            <p>Invalid username or password!</p>
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class='form-control'>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" name="password" id="password" class='form-control'>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
{% endblock %}