{% extends 'partials/base.html' %}

{% block content %}
    <h1>Registration</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
{% endblock %}